DEBUG=False
SECRET_KEY=change-this-on-each-server
ALLOWED_HOSTS=tu-nuevo-subdominio.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://tu-nuevo-subdominio.pythonanywhere.com
STATIC_ROOT=/home/tuusuario/tu-proyecto/diputada/staticfiles/
MEDIA_ROOT=/home/tuusuario/tu-proyecto/diputada/media